<p id="notice"><%= notice %></p>

<h1>Name: <%= @attraction.name %></h1><br>

Nausea Rating: <%= @attraction.nausea_rating %><br>

Happiness Rating: <%= @attraction.happiness_rating %><br>

Tickets: <%= @attraction.tickets %><br>
